body{
  margin: 0;
}
.el-carousel__button{
  height: 4px;
  border-radius: 2px; 
}
.hover-zoom {
  float: left;
  margin: 0;
  height: 180px;
  width: 300px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  position: relative;
}
.hover-zoom:hover {
  background-size: 100%;
}
.hover-zoom p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.4);
  padding: 0.5em;
  margin: 0;
  box-sizing: border-box;
}                 